{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row p-4 d-flex justify-content-around">
        <div class="col-sm-8">
            <h1>About Us</h1>
            <p class="book-text">
                Welcome to SWEET HOME accommodation services, where you can find 
                awesome places for short-term stay in Ireland and abroad 
                provided by people who have free property to accommodate guests 
                and want to earn a little money on it.
            </p>
            <p class="book-text">
                How does our service work?<br>
                Anyone who wants to rent out their property to guests for a 
                short period of time on a daily basis can add it to our website 
                by registering and then, after authorization, fill out the 
                appropriate form in the "Add property" section that appears 
                after Login.
            </p>
            <p class="book-text">
                The number of properties added by one person is unlimited. 
                You can earn money on everything you have :) After adding a 
                property, it appears on the main page of the site in the 
                general list of all offered properties, sorted by descending 
                time of addition, from newest added to oldest. Also, each user 
                who has added their property can view their personal list in 
                the "My property" section that also appears after Login. 
                The details of each property added by the user can be edited,
                and it can also be completely deleted if unnecessary.
            </p>
            <p class="book-text">
                Soon we will add the ability for guests to book your property 
                and you will start earning.
            </p>
        </div>    
    </div>
</div>

{% endblock content %}