{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<!-- book form container with bootstrap margin on top and bottom -->
<div class="container-fluid col-sm-6 mb-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|crispy }}
    
        {% if form.instance.booking_image %}
            <div class="current-image my-3">
                <h5>Current Image:</h5>
                {% if form.instance.booking_image or 'placeholder' in form.instance.booking_image.url %}
                    <img src="{% static 'images/default.png' %}" alt="Placeholder Image" width="150">
                {% elif form.instance.booking_image %}
                    <img src="{{ form.instance.booking_image.url }}" alt="Current Image" width="150">
                {% else %}
                    <h5>No current image yet</h5>
                {% endif %}

                <!-- {% if 'placeholder' in form.instance.booking_image.url %}
                    <img src="{% static 'images/default.png' %}" alt="Placeholder Image" width="150">
                {% elif form.instance.booking_image %}
                    <img src="{{ form.instance.booking_image.url }}" alt="Current Image" width="150">
                {% else %}
                    <h5>No current image yet</h5>
                {% endif %} -->
            </div>
        {% endif %}
        
        <button type="submit" class="btn btn-success">Add Property!</button>
    </form>
    
</div>

{% endblock content %}

{% block copyright %}
Copyright 2023 by DIMMANDO
{% endblock %}