{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

<!-- Form container to add new property -->
<div class="container-fluid col-sm-6 mb-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|crispy }}
            
            <!-- Conditions what to display: 
            'No current image yet' text if record in DB is not exist yet at the moment of adding a new property;
            Placeholder image during editing details of property if user didn't add their picture when added property in the past;
            User's existing picture during editing details of property -->
            <div class="current-image my-3">
                <h5>Current Image:</h5>
                {% if not form.instance.pk %}
                    <h5>No current image yet</h5>
                {% elif 'placeholder' in form.instance.booking_image.url %}
                    <img src="{% static 'images/default.png' %}" alt="Placeholder Image" width="150">    
                {% else %}
                    <img src="{{ form.instance.booking_image.url }}" alt="Current Image" width="150">
                {% endif %}
            </div>
        
        <button type="submit" class="btn btn-success">Add Property!</button>
    </form>
    
</div>

{% endblock content %}